@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 74 139 90;
    --accent: 230 126 34;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
